<!doctype HTML>
<style>
  .resource_display {
    font-size: 50;
  }
</style>

<!-- @TODO: how to do pretty print of date at start of page load? window.onload? -->
<div class="resource_display" id="resource_display">
  <% if (tracking_budget) { %>
    <div class="budget_display", id="budget_display">
      Remaining Budget: $<%= remaining_budget %>
    </div>
  <% } %>
  <% if (tracking_time) { %>
    <div class="time_display", id="time_display">
      Remaining Time: <% new Date(remaining_time * 1000).toISOString().substr(11, 8) %>
    </div>
  <% } %>
</div>

<script>
var MILLIS_PER_SEC = 1000
var PORT = 8003;
var requestURL = "http://vm-nutritionstudy.eecs.tufts.edu:" + PORT;

//Make a post request object
function Request() {
    var request;

    this.makeRequest = function(endpoint, data, callback) {
        request = new XMLHttpRequest();
        request.open("POST", requestURL + "/" + endpoint, true);
        request.onreadystatechange = 
            function () {
                if (request.readyState === 4 && request.status === 200) {
                    console.log("done with good request");
                    callback(request);
                }
            }
        request.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        request.send(data);
    }
}


$( document ).ready(function() {
    //Sync up timer to exact seconds left?
});
/* Assign actions */
var timer_id = setInterval(timer, MILLIS_PER_SEC);

function timer() {
  if (<%=tracking_time%>) {
    var date = new Date();
    var curr_time = date.getTime();  // epoch millis
    var elapsed_time = (curr_time - parseInt(<%=start_time%>)) / MILLIS_PER_SEC; // seconds
    var remaining_time = <%=total_time%> - elapsed_time; // seconds
    var remaining_time_pretty = new Date(remaining_time * 1000).toISOString().substr(11, 8)
    document.getElementById("time_display").innerHTML = "Remaining Time: " + remaining_time_pretty

    var request = new Request();
    var data = "remaining_time=" + remaining_time
    request.makeRequest("cart/update-timer", data, function(request) {
      var checked_out = parseInt(request.responseText[0]);
      if (remaining_time < 0 && !checked_out) {
        /* @TODO: stop timer (doesn't work) @TODO might not need to stop timer since checked_out prevents continuing request anyways */
        /* @TODO: if clearInterval worked, probably wouldn't need to check for checked_out status: timer() would never be called again */
        clearInterval(timer_id);

        var request = new Request();
        request.makeRequest("cart/checkout-cart", "", function(request) {
          console.log("CHecked Out from timer");
          cart_count = request.responseText;
          $('.badge').text(cart_count);
          location.replace("http://vm-nutritionstudy.eecs.tufts.edu:" + PORT + "/past-purchases");
        });
      }
    });
  }
}


</script>