<!DOCTYPE html>
<html>
<head>
        <%- include partials/header.ejs %>
</head>
<body>
	<!-- //topnav -->
	<%- include partials/topnav.ejs %>

	<h2 style="padding: 200px;">Instructions to go here...</h2>

		<!-- //footer -->
	<%- include partials/footer.ejs %>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</body>